# Maven
/target/

# Log files
*.log

# IDE files (optional but good practice)
.idea/
.vscode/
*.iml

/resources/uploads/
src/main/java/de/technikteam/dao/DatabaseManager.java
target/m2e-wtp/web-resources/META-INF/maven/de.technikteam/TechnikTeam/pom.properties
target/classes/de/technikteam/dao/DatabaseManager.class
src/main/resources/db.properties
