# IDE-specific files
.project
.classpath
.settings/
.idea/
*.iws
*.iml
*.ipr

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/

# Node / Frontend
node_modules/
dist/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnp/
.pnp.js

# Local environment files
.env
.env.local
.env.*.local
flyway.conf

# Log files
*.log
logs/

# Temporary and script files from the root directory
resources/uploads/images
combine_code_gui.ps1
run_combine_code_gui.txt
ProjectTree.ps1
dependency-tree.txt
config.json
technikteam.txt
technikteam-1.txt
technikteam-2.txt

# Operating System files
.DS_Store
Thumbs.db
start_development.bat
DEPLOYMENT.md
deploy_production.bat
flyway-dev.conf
flyway-prod.conf
config.json
Caddyfile
deploy_production.txt
logs-backend-2025-08-20-1.log.gz
deploy.bat
dependency-tree.txt
.vscode/launch.json
.settings/org.eclipse.jdt.core.prefs
/frontend/android
/frontend/.expo
